/* -Common Css Start- */
:root {
    --tw-custom-color: #ffffff;
    --tw-primary-color: #343f52;
    --tw-simpldark-color: #27272e;
    --tw-secondary-color: #FF7F00;
    --tw-normal-color: #e1e9ee57;
    --tw-light-color: #aab0bc;
}

:root {
    --base-primary-size: 18px;
    --base-secondary-size: 20px;
    --base-custom-size: 40px;
    --base-normal-size: 56px;
    --base-normalheading-size: 75px;
    --base-heading-size: 90px;
}

:root {
    --font-primary: "Poppins", sans-serif;
    --font-secondary: "Inter", sans-serif;
}

body {
    /* font-family: "Inter", sans-serif; */
    margin: 0px;
    padding: 0px;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1320px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.btn-close:focus {
    box-shadow: none;
}

/* -Common Css End- */

/* --Header Start-- */
.axil-mainmenu {
    width: 100%;
    top: -100%;
    position: relative;
    margin-top: -12px;
    z-index: 999;
}

.axil-mainmenu.active {
    transition: all 0.5s ease;
    top: 0;
    position: fixed;
    background-color: #fdfdfd;
    margin-top: -10px;
    padding: 20px 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 99999;
}

ul.mainmenu li {
    list-style: none;
    line-height: 40px;
}

.menu-item-has-children .axil-submenu li {
    padding: 6px 20px;
    border-radius: 8px;
}

.menu-item-has-children .axil-submenu li:hover {
    background-color: var(--tw-normal-color);
}

ul.mainmenu li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-family: var(--font-secondary);
}

.menu-item-has-children .axil-submenu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: -50px;
    background-color: #fff;
    padding: 14px;
    width: 250px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-top: 5px solid var(--tw-secondary-color);
    border-radius: 7px;
    transition: all ease 0.3s;
    top: 85px;
}

.menu-item-has-children:hover .axil-submenu {
    opacity: 1;
    visibility: visible;
    top: 55px;
}

.header-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-main-nav {
    flex: 1 1;
    margin: 0 55px 0 50px;
}

.mainmenu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
}

.mainmenu>li {
    margin: 0 24px;
}

.mainmenu>.menu-item-has-children {
    position: relative;
}

.mainmenu>li>a {
    color: var(--tw-primary-color);
    font-size: var(--base-secondary-size);
    font-weight: 500;
    font-size: 16px;
    line-height: 60px;
    height: 60px;
    display: block;
    position: relative;
}

ul.mainmenu li a svg {
    margin-left: 2px;
    font-size: var(--tw-primary-color);
}

.offcanvas-start {
    width: 600px;
}

.axil-mainmenu {
    padding: 50px 0;
    transition: all .3s ease-in-out;
    transition: var(--transition);
}

.axil-header .header-navbar .header-logo a {
    display: block;
}

/* .header-logo img {
    animation: slideInFromLeft 1s ease-in-out;
} */

.header-action>ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}

.header-action .sidemenu-btn {
    margin-right: 0px;
    list-style: none;
}

.header-action .sidemenu-btn .btn-wrap {
    height: 60px;
    width: 60px;
    background-color: var(--tw-normal-color);
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all ease 0.5s;
    cursor: pointer;
    /* animation: slideInFromright 1s ease-in-out; */
}

.header-action .sidemenu-btn .btn-wrap span {
    height: 2px;
    width: 20px;
    background-color: var(--tw-primary-color);
    margin-bottom: 4px;
    border-radius: 10px;
    transition: all ease 0.5s;
}


.header-action .sidemenu-btn .btn-wrap span:last-child {
    margin-bottom: 0;
    width: 10px;
    margin-right: -10px;
}

.header-action .sidemenu-btn .btn-wrap:hover .btn-wrap span:last-child {
    width: 100%;
}

.header-action .sidemenu-btn .btn-wrap:hover span:first-child {
    width: 10px;
    margin-right: -10px;
    transition: all ease 0.5s;
}

.header-action .sidemenu-btn .btn-wrap:hover span:last-child {
    width: 20px;
    margin-right: 0;
    transition: all ease 0.5s;
}


/* --Header End-- */

/* ----Hero Start--- */
.hero-section-image {
    animation: slideInFromright 0.8s ease-in-out;
}

.hero-section-content {
    animation: slideInFromTop 0.8s ease-in-out;
}

.hero-section-content h1 {
    font-size: var(--base-normalheading-size);
    font-weight: 600;
    line-height: 85px;
    color: var(--tw-simpldark-color);
    margin-bottom: 30px;
    font-family: var(--font-primary);
}

.hero-section-content p {
    font-size: var(--base-primary-size);
    letter-spacing: 1px;
    font-family: var(--font-primary);
    margin-bottom: 40px;
    color: var(--tw-simpldark-color);
}

.hero-get-stared-button {
    padding: 22px 40px;
    box-shadow: 0 44px 84px -24px var(--tw-secondary-color);
    background-color: var(--tw-secondary-color);
    color: var(--tw-custom-color);
    font-family: var(--font-secondary);
    font-size: var(--base-primary-size);
    font-weight: 600;
    border-radius: 8px;
}

.hero-get-stared-button:hover {
    color: var(--tw-custom-color);
}

.btn-check:focus+.btn,
.btn:focus {
    box-shadow: none;
}

/* ----Hero End--- */

/* <!---Services Start----> */
.services-section {
    padding: 140px 0px;
    background-color: var(--tw-normal-color);
    margin-top: 40px;
}

/* <!---Services End----> */














/* Define the keyframes */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromright {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}